.subTitle {
	color: #fff;
	font-size: 26px;
}

.text {
	color: #fff;
	font-size: 18px;
}

/*(Below) Kept to reference its syntex...*/
/*
@media only screen and (max-device-width:600px){
  .belowCircle {
    margin-right: 155px;
    margin-left: 155px;
  }
}
*/