// $dark: #2d3179

// $height-for-nav: 28px

// html, body 
//   max-width: 100%
//   overflow-x: hidden
//   overflow-y: scroll
//   -webkit-overflow-scrolling: touch
//   height: 100% //A value other than height:auto needs to be set

// .container-fluid
//   margin-right: auto
//   margin-left: auto
//   padding: 0

body
  padding-top: 59px

div > .navbar-inverse
  background-color: #2d3179

div > .navbar-inverse .navbar-nav > li > a
  color: #fff
  background-color: #2d3179

div > .navbar-inverse .navbar-nav > li.active > a
  background-color: #2d3179

div > div > div > div > ol.carousel-indicators > li
  height: 23px
  width: 23px
  margin-right: 9px
  margin-left: 9px

div > div > div > div > ol.carousel-indicators > li.active
  height: 23px
  width: 23px
  margin-right: 9px
  margin-left: 9px


// .navbar-brand li a
//   line-height: $height-for-nav
//   height: $height-for-nav
//   padding-top: 2px

// .navbar-nav li a
//   line-height: $height-for-nav
//   height: $height-for-nav
//   padding-top: 4px

// .container ul.navbar-nav.ml-auto li.on a
// 	color: #8BC34A

// .container ul.navbar-nav.ml-auto li.off a
// 	color: #fff

// .container ul.navbar-nav.ml-auto hr
//   display: block
//   height: 1px
//   border: 0
//   border-top: 1px solid #ccc
//   margin: 0rem
//   padding: 0 

// // .dog-food
// //   margin-right: -20px
