// $dark: #2d3179

// $height-for-nav: 28px

html, body 
  max-width: 100%
  overflow-x: hidden
  overflow-y: scroll
  -webkit-overflow-scrolling: touch
  height: 100% //A value other than height:auto needs to be set

.container-fluid
  margin-right: auto
  margin-left: auto
  padding: 0

body
  padding-top: 59px

div > .navbar-inverse
  background-color: #2d3179

div > .navbar-inverse .navbar-nav > li > a
  color: #fff
  background-color: #2d3179

div > .navbar-inverse .navbar-nav > li.active > a
  background-color: #2d3179


div > div > div > div > ol.carousel-indicators > li
  height: 23px
  width: 23px
  margin-right: 9px
  margin-left: 9px

div > div > div > div > ol.carousel-indicators > li.active
  height: 23px
  width: 23px
  margin-right: 9px
  margin-left: 9px

div > div > div > div.container-full > div.row > div.welcome-screen
  position: relative

div > div > div > div.container-full > div.row > div.welcome-screen > .welcome-caption-content
  position: absolute
  top: 35%
  text-align: left
  margin-left: 2%
  margin-top: -0.7em
  left: 33%
  width: 55%;;
  @media screen and (min-width: 1020px)
    font-size: 130%
  @media screen and (max-width: 1020px)
    font-size: 120%
  @media screen and (max-width: 920px)
    font-size: 110%
  @media screen and (max-width: 850px)
    font-size: 100%
  @media screen and (max-width: 740px)
    font-size: 93%
  @media screen and (max-width: 695px)
    font-size: 90%
  @media screen and (max-width: 660px)
    font-size: 85%
  @media screen and (max-width: 625px)
    font-size: 80%
  @media screen and (max-width: 585px)
    font-size: 75%
  @media screen and (max-width: 550px)
    left: 4%
    font-size: 120%
    margin-left: 4%
    width: 85%
  @media screen and (max-width: 390px)
    font-size: 115%
  @media screen and (max-width: 360px)
    font-size: 110%
  @media screen and (max-width: 340px)
    font-size: 100%
